* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Mulish', sans-serif;
    color: #707070;
    letter-spacing: 0.5px;
    background: rgb(252, 252, 252);
    background: linear-gradient(
        14deg,
        rgba(252, 252, 252, 1) 0%,
        rgba(252, 252, 252, 0.3211659663865546) 38%,
        rgba(242, 239, 239, 0.6797093837535014) 100%
    );
}

/*  calculation to make 1rem be10px at 1400 font-size: calc(0.038em + 0.665vw); */
@media screen and (min-width: 100px) {
    html {
        /* this number makes 1 rem = 10px when screen is 1400 wide and 880 tall - please don't change*/
        font-size: calc(0.03em + 0.66vw);
    }
}

h1 {
    padding: 1rem;
    font-size: 8rem;
    font-weight: 600;
    width: 100%;
    line-height: 10rem;
}
h2 {
    font-size: 1.8rem;
    line-height: 4.5rem;
    font-weight: 400;
}
h3 {
    font-size: 1.6rem;
    font-weight: 200;
    line-height: 2.8rem;
    width: 100%;
}
h4 {
    font-size: 1.4rem;
    font-weight: 200;
    line-height: 2.2rem;
}
h5 {
    font-size: 1rem;
    font-weight: 200;
    line-height: 3.2rem;
    text-align: left;
    margin-top: -1.5rem;
}

b {
    font-weight: 900;
}

p {
    text-align: left;
    font-size: 2rem;
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translate3d(20%, 0, 0);
    }

    30% {
        opacity: 0;
        transform: translate3d(20%, 0, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translate3d(-20%, 0, 0);
    }

    30% {
        opacity: 0;
        transform: translate3d(-20%, 0, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.fade-in-enter {
    opacity: 0;
}

.fade-in-enter-active {
    opacity: 1;
    transition: all 800ms;
}

.fade-in-exit {
    opacity: 1;
}

.fade-in-exit-active {
    opacity: 0;
    transition: all 800ms;
}
.shared-position-enter {
    opacity: 0;
}

.shared-position-active {
    opacity: 1;
    transition: all 800ms;
}

.fade-in-exit {
    opacity: 1;
}

.fade-in-exit-active {
    opacity: 0;
    transition: all 500ms;
}

.transition-enter {
    opacity: 0.01;
    margin-left: 5rem;
    transform: translate(0, -10px);
}
.transition-enter-active {
    opacity: 1;
    transform: translate(0, 0);
    transition: all 300ms ease-in;
}
.transition-exit {
    opacity: 1;
    transform: translate(0, 0);
}
.transition-exit-active {
    opacity: 0.01;
    transform: translate(0, 10px);
    transition: all 300ms ease-in;
}
